.headerWrap {
	width: 85%;
	margin: 0 auto;
	margin-top: 15px;
	border: 1px solid black;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.leftBlock {
		width: 25%;
	}

	.headImgWrap {
		margin: 15px 20px;

		img {
			border-radius: 15px;
		}
	}

	.rightWrap {
		width: 25%;

		.rightBlock {
			display: flex;
			flex-direction: column;
		}

		.icoBlock {
			width: 95%;
			margin: 0 auto;
			border-top: 3px solid black;
			min-height: 25px;
		}
	}

	h1 {
		font-size: 4.5rem;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}
