.homeWrap {
	width: 85%;
	margin: 0 auto;
	margin-top: 10px;
	min-height: 600px;
	border: 1px solid black;
	border-radius: 10px;

	h1 {
		font-size: 3.8rem;
		margin-top: 20px;
		text-align: center;
	}

	.infoBlockWrap {
		margin-top: 20px;
		width: 100%;
		display: flex;
		justify-content: space-around;

		.infoBlock {
			width: 32%;
			border: 1px solid black;
			border-radius: 10px;
			min-height: 250px;

			.blockHead {
				background-color: cadetblue;
				border-top-left-radius: 9px;
				border-top-right-radius: 9px;
				border-bottom: 2px solid black;
				text-align: center;

				h2 {
					font-size: 2.2rem;
					padding: 10px 0;
				}
			}
		}
	}
}
