.navWrap {
	width: 85%;
	margin: 0 auto;
	margin-top: 10px;
	border-top: 3px solid black;
	border-bottom: 3px solid black;

	h2 {
		font-size: 3rem;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
	}
}
