.navWrap {
	width: 85%;
	margin: 0 auto;
	margin-top: 10px;
	border-top: 3px solid black;
	border-bottom: 3px solid black;

	ul {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		list-style-type: none;
		text-decoration: none;

		li {
			margin-left: 25px;
			margin-bottom: 15px;
			margin-top: 15px;
			font-size: 2.5rem;

			.link {
				text-decoration: none;
				color: #1264a3;
				font-weight: bold;
			}

			.active {
				color: lime;
			}
		}
	}
}
