.card {
	width: 48%;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	border-radius: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.24);

	.titleHead {
		background-color: cadetblue;
		border-top-left-radius: 13px;
		border-top-right-radius: 13px;
		display: flex;
		justify-content: center;
		align-content: center;

		h1 {
			margin-bottom: 20px;
		}
	}

	.cardBodyWrap {
		display: flex;
		min-height: 380px;

		.imageWrap {
			width: 40%;

			img {
				max-width: 250px;
				margin: 5px 0 15px 5px;
			}
		}

		.infoWrap {
			width: 60%;
			display: flex;
			flex-direction: column;
			margin-right: 10px;

			.stack {
				text-align: center;
				width: 100%;

				h4 {
					font-size: 2.5rem;
					margin-top: 10px;
				}
			}

			.info {
				padding-top: 20px;
				border-top: 4px solid black;

				p {
					font-size: 1.6rem;
				}
			}
		}
	}

	.buttonWrap {
		align-items: flex-end;
		width: 100%;

		.buttonSet {
			display: flex;
			justify-content: space-evenly;

			button {
				margin-bottom: 20px;
				margin-top: 20px;
				padding: 15px;
				background-color: cadetblue;
				border: none;
				border-radius: 10px;
			}
		}
	}
}
